<form class="tracking-page-form" [formGroup]="manageClubForm" (submit)="onSubmit()" >
  <div>
    <label for="clubname">Name: </label>
    <input
      type="text"
      name="clubname"
      id="clubname"
      formControlName="clubname"
    />
  </div>
  <div>
    <label for="clubtype">Type: </label>
    <input
      type="text"
      name="clubtype"
      id="clubtype"
      formControlName="clubtype"
    />
  </div>
  <div>
    <label for="addressLine1">Address Line 1: </label>
    <input
      type="text"
      name="addressLine1"
      id="addressLine1"
      formControlName="addressLine1"
    />
  </div>
  <div>
    <label for="city">City: </label>
    <input
      type="text"
      name="city"
      id="city"
      formControlName="city"
    />
  </div>
  <div>
    <label for="state">State: </label>
    <input
      type="text"
      name="state"
      id="state"
      formControlName="state"
    />
  </div>
  <button class="updateButton">Update</button>
  <div class="error"></div>
</form>
