<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" router-link="/welcome-page" (click)="navigateToWelcomePage()" >Website</a>
  </div>
  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
    <!-- <span aria-hidden="true">{{$userService.user}}</span> -->
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>

  <div id="navbarMain" class="navbar-menu">
    <div class="navbar-start">
      <ng-container>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Profile</a>
          <div class="navbar-dropdown">
            <div>
              <a router-link="/user-profile" (click)="navigateToUserProfile()" >Profile</a>
            </div>
            <div>
              <a router-link="/login" (click)="logoutAndNavigateToLoginScreen()" >Logout</a>
            </div>
          </div>
        </div>
      </ng-container>
      <!--
        <ng-container *ngIf="($userService.user | async) == null">
          <div class="navbar-item">
            <a routerLink="/login">Login</a>
          </div>
        </ng-container>
      -->
    </div>
    <div class="navbar-end">
      <ng-container *ngIf="isAdminOrClubRep()">
        <div class="navbar-item">
          <a routerLink="/create-club">Create Club</a>
        </div>
        <div class="navbar-item">
          <a routerLink="/view-clubs">View Clubs</a>
        </div>
        <div class="navbar-item">
          <a routerLink="/users">View Users</a>
        </div>
      </ng-container>
      <ng-container *ngIf="isStudent()">
        <div class="navbar-item">
          <a routerLink="/tracking-page">Tracking</a>
        </div>
      </ng-container>
      <ng-container *ngIf="isAdminOrStudent()">
        <div class="navbar-item">
          <a routerLink="/search">Search Page</a>
        </div>
      </ng-container>
    </div>
  </div>
</nav>
<form class="form" [formGroup]="manageClubForm" (submit)="updateCall()" >
  <div>
    <label for="name">Name: </label>
    <input
      type="text"
      name="name"
      id="name"
      formControlName="name"
      placeholder="{{clubDetails.name}}"
    />
  </div>
  <div>
    <label for="type">Type: </label>
    <input
      type="text"
      name="type"
      id="type"
      formControlName="type"
      placeholder="{{clubDetails.type}}"
    />
  </div>
  <div>
    <label for="description">Description: </label>
    <input
      type="text"
      name="description"
      id="description"
      formControlName="description"
      placeholder="{{clubDetails.description}}"
    />
  </div>
  <div>
    <label for="phone">Phone: </label>
    <input
      type="text"
      name="phone"
      id="phone"
      formControlName="phone"
      placeholder="{{clubDetails.phone}}"
    />
  </div>
  <div>
    <label for="email">Email: </label>
    <input
      type="text"
      name="email"
      id="email"
      formControlName="email"
      placeholder="{{clubDetails.email}}"
    />
  </div>
  <div>
    <label for="street">Address Line 1: </label>
    <input
      type="text"
      name="street"
      id="street"
      formControlName="street"
      placeholder="{{addressDetails.street}}"
    />
  </div>
  <div>
    <label for="city">City: </label>
    <input
      type="text"
      name="city"
      id="city"
      formControlName="city"
      placeholder="{{addressDetails.city}}"
    />
  </div>
  <div>
    <label for="state">State: </label>
    <input
      type="text"
      name="state"
      id="state"
      formControlName="state"
      placeholder="{{addressDetails.state}}"
    />
  </div>
  <div>
    <label for="zipcode">Zipcode: </label>
    <input
      type="text"
      name="zipcode"
      id="zipcode"
      formControlName="zipcode"
      placeholder="{{addressDetails.zipcode}}"
    />
  </div>
  <button class="updateButton button is-primary">Update</button>
  <div class="error"></div>
</form>
