<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routeLink="/">Website</a>
  </div>
  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
    <!-- <span aria-hidden="true">{{$userService.user}}</span> -->
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>

  <div id="navbarMain" class="navbar-menu">
    <div class="navbar-start">
      <ng-container>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Profile</a>
          <div class="navbar-dropdown">
            <div>
              <a router-link="/user-profile" (click)="navigateToUserProfile()" >Profile</a>
            </div>
            <div>
              <a router-link="/login" (click)="logoutAndNavigateToLoginScreen()" >Logout</a>
            </div>
          </div>
        </div>
      </ng-container>
      <!--
        <ng-container *ngIf="($userService.user | async) == null">
          <div class="navbar-item">
            <a routerLink="/login">Login</a>
          </div>
        </ng-container>
      -->
    </div>
    <div class="navbar-end">
      <ng-container *ngIf="isAdminOrClubRep()">
        <div class="navbar-item">
          <a routerLink="/create-club">Create Club</a>
        </div>
        <div class="navbar-item">
          <a routerLink="/view-clubs">View Clubs</a>
        </div>
        <div class="navbar-item">
          <a routerLink="/users">View Users</a>
        </div>
      </ng-container>
      <ng-container *ngIf="isStudent()">
        <div class="navbar-item">
          <a routerLink="/tracking-page">Tracking</a>
        </div>
      </ng-container>
      <ng-container *ngIf="isAdminOrStudent()">
        <div class="navbar-item">
          <a routerLink="/search">Search Page</a>
        </div>
      </ng-container>
    </div>
  </div>
</nav>
<table class="table">
  <thead>
    <tr>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Email</td>
      <td>User Type</td>
      <td>Phone Number</td>
      <ng-container *ngIf="isAdmin()">
        <td>View Tracking</td>
        <td>Update</td>
        <td>Delete</td>
      </ng-container>
      <td>Remove User</td>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let user of userDetails">
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td>{{user.phoneNumber}}</td>
      <ng-container *ngIf="isAdmin()">
        <td>
          <a class="button" [routerLink]="['/tracking-page', user]">View Tracking</a>
        </td>
        <td>
          <a class="button" [routerLink]="['/update-user', user]">Update</a>
        <td>
          <button class="button is-danger" type="submit" (click)="delete(user)">Delete</button>
        </td>
      </ng-container>
      <td>
        <button class="button is-danger" type="submit" (click)="removeUser(user)">Remove User From Club</button>
      </td>
    </tr>
  </tbody>
</table>
