<table class="table">
  <thead>
    <tr>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Email</td>
      <td>User Type</td>
      <td>Phone Number</td>
      <td>View Tracking</td>
      <td>Update</td>
      <td>Delete</td>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let user of userDetails">
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td>{{user.phoneNumber}}</td>
      <td>
        <a class="button" [routerLink]="['/tracking-page', user]">View Tracking</a>
      </td>
      <td>
        <a class="button" [routerLink]="['/update-user', user]">Update</a>
      <td>
        <button class="button is-danger" type="submit" (click)="delete(user)">Delete</button>
      </td>
      <td>
        <button class="button is-danger" type="submit" (click)="removeUser(user)">Remove User From Club</button>
      </td>
    </tr>
  </tbody>
</table>
