<div class="tracking-page-common">
    <form class="tracking-page-form" >
        <div class="navbar">
            <div class="left-side" >
                <div class="user-info" (click)="toggleMenu()">
                    Profile
                </div>
                
                <div class="sub-left" id="submenu">
                    <div class="user-info">
                        <h2>Random Guy</h2>
                    </div>
                    <hr>
                    
                    <a href="http://localhost:4200/user-profile-page" class="display-item">
                        <p>Update Profile</p>
                    </a>
                    <a href="http://localhost:4200/login" class="display-item">
                        <p>Logout</p>
                    </a>
                </div>
            </div>
            <div class="right-link">
                <a href="#">View Clubs</a>
                <a href="http://localhost:4200/view-users-page">View Users</a>
                <a href="http://localhost:4200/tracking-page">Tracking</a>
                <a href="#">Search Page</a>
            </div>
        </div>
        <div class="club-contacts-page">
            <div class="display-name">
                {{club.name}}
            </div>
            <div class="display-details">
                <table>
                    <tr>
                        <td>Name: </td>
                        <td>{{club.name}} </td>
                    </tr>
                    <tr>
                        <td>Email: </td>
                        <td>RotaryClub.en</td>
                    </tr>
                    <tr>
                        <td>Address: </td>
                        <td>{{club.city}}, {{club.state}}, {{club.zipcode}}</td>
                    </tr>
                </table>
            </div>
            <div class="club-return-link">
                <a href="http://localhost:4200/view-users-page">Return to club info page</a>
            </div>
            
        </div>
        <div class="error"></div>
    </form>
    </div>