<div class="tracking-page-common">
<form class="tracking-page-form" [formGroup]="userProfilePageForm" (submit)="onSubmit()">
    <div class="navbar">
        <div class="left-side" >
            <div class="user-info" (click)="toggleMenu()">
                Profile
            </div>
            
            <div class="sub-left" id="submenu">
                <div class="user-info">
                    <h2>Random Guy</h2>
                </div>
                <hr>
                
                <a href="http://localhost:4200/user-profile-page" class="display-item">
                    <p>Update Profile</p>
                </a>
                <a href="http://localhost:4200/login" class="display-item">
                    <p>Logout</p>
                </a>
            </div>
        </div>
        <div class="right-link">
            <a href="http://localhost:4200/club-details-page">View Clubs</a>
            <a href="http://localhost:4200/view-users-page">View Users</a>
            <a href="http://localhost:4200/tracking-page">Tracking</a>
            <a href="#">Search Page</a>
        </div>
    </div>
    <div>
        <h2>User Profile</h2>
        <div>
            <label for="name">Name:</label>
            <input type="text"
                id = "name"
                name = "name"
                formControlName = "name"
                required
            />
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text"
                id = "email"
                name = "email"
                formControlName = "email"
                required
            />
        </div>
        <div>
            <label for="phone">Phone Number:</label>
            <input type="text"
                id = "phone"
                name = "phone"
                formControlName = "phone"
                required
            />
        </div>
        <div>
            <label for="newpassword">New Password:</label>
            <input type="password"
                id = "newpassword"
                name = "newpassword"
                formControlName = "newpassword"
                (keyup) = "checkPasswordMatch($event)"
                required
            />
        </div>
        <div>
            <label for="confirmpassword">Confirm Password:</label>
            <input type="password"
                id = "confirmpassword"
                name = "confirmpassword"
                formControlName = "confirmpassword"
                (keyup) = "checkPasswordMatch($event)"
                required
            />
        </div>
        <button type="submit" [disabled]="userProfilePageForm.invalid">
            Update
        </button>
    </div>
    <div class="error"></div>
</form>
</div>

