<div class="card">
  <div class="card-content">
    <div class="display-name">{{clubDetails.name}}</div>
    <div class="display-details">
      <p>{{clubDetails.type}}</p>
      <p>{{addressDetails.street}}</p>
      <p>{{addressDetails.city}}</p>
    </div>
    <div class="display-buttons">
      <button id="joinbutton" class="button is-primary" (click)="join()">Join</button>
      <button class="button is-danger" id="leavebutton" (click)="leave()">Leave</button>
      <br />
      <a [routerLink]="['/club-contacts', mergedClubAndAddr ]" >View Club Contacts Page</a>
    </div> 
  </div>
</div>
