<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routeLink="/">Website</a>
  </div>
  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>

  <div id="navbarMain" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Profile</a>
        <div class="navbar-dropdown">
          <!-- profile stuff -->
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <a routerLink="/club-details">View Clubs</a>
      </div>
      <div class="navbar-item">
        <a routerLink="/users">View Users</a>
      </div>
      <div class="navbar-item">
        <a routerLink="/tracking-page">Tracking</a>
      </div>
      <div class="navbar-item">
        <a routerLink="/search">Search Page</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
