<div class="tabs">
  <ul>
    <li [class.is-active]="active == 'login'">
      <a (click)="toggle('login')">Login</a>
    </li>
    <li [class.is-active]="active == 'register'">
      <a (click)="toggle('register')">Register</a>
    </li>
  </ul>
</div>
<ng-container *ngIf="active == 'login'">
  <form class="form" [formGroup]="loginForm" (submit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input type="text"
        id="email"
        name="email"
        formControlName="email"
        (input)="onInput()"
        required
      />
    </div>
    <div>
      <label for="password">Password: </label>
      <input type="password"
        id="password"
        name="password"
        formControlName="password"
        (input)="onInput()"
        required
      />
    </div>
    <div class="errorLogin" id="errorLogin" style="display: none; color:crimson;">Please check your credentials!!!</div>
    <button class="button is-primary"
      type="submit"
      [disabled]="loginForm.invalid"
    >Login</button>
  </form>
</ng-container>
<ng-container *ngIf="active == 'register'">
  <div class="form-container">
    <div class="form-title">
      <h2>Register</h2>
    </div>
    <form [formGroup]="registrationPageForm" (submit)="onRegister()">
      <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" formControlName="email" (input)="onInput()" required />
      </div>
      <div>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" formControlName="firstName" required />
      </div>
      <div>
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" formControlName="lastName" required />
      </div>
      <div>
        <label for="phoneNumber">Phone Number</label>
        <input type="text" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" required />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" formControlName="password" required />
      </div>

      <div class="checkbox-container">
        Check this box if registering as a club representative.
        <label class="checkbox-label">
          <input type="checkbox" id="check" name="check" class="checkbox" formControlName="isClubRep" checked>
        </label>
      </div>
      <div class="errorRegister" id="errorRegister" style="display: none; color: crimson">The email is already registered!!!</div>
      <button class="button is-primary" type="submit" [disabled]="registrationPageForm.invalid">Register</button>
    </form>
  </div>
</ng-container>
