<section class="section">
  <div class="content">
    <h2>User Profile</h2>
    <form class="form" [formGroup]="userProfileForm" (submit)="onSubmit()">
        <div>
            <label for="firstName">First Name:</label>
            <input
                type="text"
                id="firstName"
                name="firstName"
                formControlName="firstName"
                placeholder="{{userDetails.firstName}}"
            />
        </div>
        <div>
            <label for="lastName">Last Name:</label>
            <input
                type="text"
                id="lastName"
                name="lastName"
                formControlName="lastName"
                placeholder="{{userDetails.lastName}}"
            />
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text"
                id = "email"
                name = "email"
                formControlName = "email"
                placeholder = "{{userDetails.email}}"
                required
            />
            </div>
        <div>
            <label for="phoneNumber" >Phone Number:</label>
            <input
                type="text"
                id="phoneNumber"
                name="phoneNumber"
                formControlName="phoneNumber"
                placeholder="{{userDetails.phoneNumber}}"
            />
        </div>
        <div>
        <label for="passwordHash">New Password:</label>
        <input type="password"
            id = "passwordHash"
            name = "passwordHash"
            formControlName = "passwordHash"
            (keyup) = "checkPasswordMatch($event)"
            required
        />
        </div>
        <div>
        <label for="confirmpassword">Confirm Password:</label>
        <input type="password"
            id = "confirmpassword"
            name = "confirmpassword"
            formControlName = "confirmpassword"
            (keyup) = "checkPasswordMatch($event)"
            required
        />
        </div>
        <button class="button is-primary" type="submit">
        Update
        </button>
        <div class="error"></div>
    </form>
  </div>
</section>

